
.navbar-inverse
{
 background-color:#558796
 
 }
 


body {
     font-size: 15px;
     
     }



p    {
  font-size: 17px;
     padding-left: 5px;
     padding-right: 2px;
     padding-top:5px;
     padding-bottom:5px;
     line-height: 26px
     
     }
.td-limit {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.table {
        width: 100%

    }
.table td {
    padding: 7px;
    font-size: 60%

}

.section.sidebar {
  
  background-color: #fafafa;
  
}
blockquote {
    padding: 0px 5px 5px;
    margin: 2px 5px 5px;
    font-size: 17.5px;
    border-left: 5px solid #ffffff;
    background-color: #fafafa;
}
.h3 { margin-top: 30px;}
